<audio controls>
  <source src="audio/horse.ogv" type="audio/ogg">
  <source src="audio/horse.ogv" type="audio/mpeg">
  <source src="audio/horse.ogv" type="audio/ogv">
  Your browser does not support the audio tag.
</audio><br><br>

<video width="320" height="240" controls>
  <source src="movie/movie.mp4" type="video/mp4">
  <source src="movie/movie.mp4" type="video/ogg">
  Your browser does not support the video tag.
</video><br><br>

<select>
  <optgroup label="Grupo 1">
    <option>Opção 1.1</option>
  </optgroup>
  <optgroup label="Grupo 2">
    <option>Opção 2.1</option>
    <option>Opção 2.2</option>
  </optgroup>
  <optgroup label="Grupo 3" disabled>
    <option>Opção 3.1</option>
    <option>Opção 3.2</option>
    <option>Opção 3.3</option>
  </optgroup>
</select>