<!DOCTYPE html>
<html>

<head>
  <title>Título da página</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/estilo.css">
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <h1>Página inicial</h1><br>
  <a href="../index.html">Página Inicial</a>
  <a href="template.html">Template</a>
  <p id="psegundo">Página para treinar a formatação em <mark>CSS</mark> e utilizando as <mark>TAGS</mark> de <mark>HTML</mark></p>
  <img src="../images/foto.jpg" alt="Animais incríveis" width="400" height="320" loading="eager|lazy"><br><br>

  <form action="#">
    <label for="fname">Nome:</label><br>
    <input type="text" id="fname" name="fname" placeholder  ="John"><br>
    <label for="lname">Senha:</label><br>
    <input type="password" id="lname" name="lname" placeholder="Rd0a12."><br><br>
    
    <label for="fsexo">Veiculo:</label><br>
    <input type="checkbox" id="fveiculo" name="fveiculo" value="Carro">Carro<br>
    <input type="checkbox" id="fveiculo" name="fveiculo" value="Motocicleta">Motocicleta<br>
    
    <label for="ftel">Telefnone:</label><br>
    <input type="tel" id="ftel" name="ftel" placeholder="( ) 0000-0000"><br>
    <label for="fsearch">Buscar:</label><br>
    <input type="search" id="fbuscar" name="fbuscar" placeholder="Buscar"><br>
    <label for="femail">Email:</label><br>
    <input type="email" id="femail" name="femail" placeholder="email@site.com"><br>
    <label for="furl">Url:</label><br>
    <input type="url" id="furl" name="furl" placeholder="http://www.site.com.br"><br>

    <label for="fweek">Semana:</label><br>
    <input type="week" id="fweek" name="fweek" value=""><br>
    <label for="frange">Range:</label><br>
    <input type="range" id="frange" name="frange" value=""><br>
    
    <label for="fdate">Data de Nascimento:</label><br>
    <input type="datetime" id="fdata" name="fdata" placeholder="__/__/____"><br>
    <label for="fdatetime-local">Data de Cadastro:</label><br>
    <input type="datetime-local" id="fdatetime-local" name="fdatetime-local" placeholder="dd/mm/aaaa --:--:00"><br>
    
    
    <input type="submit" value="Submit">
  </form>    
</body>

<footer>
</footer>

</html>